.recvi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 28px;
        font-weight: 700;

    }

    &__wrapper{
        width: 70%;
        padding: 20px;
        display: flex;
        background: #f5f5f5;
        h2{
            font-size: 20px;
            font-weight: 500;
        }
        p{
            font-size: 16px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 600px) {
    .recvi{
        img{
            display: none;
        }
    }
}