.main {
    width: 100%;
    padding: 2rem;

    h1 {
        font-size: 28px;
        line-height: 1.75;
        font-weight: bold;
    }

    &__wrapper {
        display: flex;
        margin-top: 3rem;
        justify-content: space-between;
        align-items: center;

        &__right {
            &__text {
                span {
                    font-size: 0.9rem;
                    color: #212121;
                    margin: 0 auto;
                }
            }

            &__image {
                display: flex;
                justify-content: center;
                margin-top: 1rem;

                img {
                    width: 400px;
                }
            }
        }

        &__center {
            text-align: start;
            span {
                font-size: 1rem;
                line-height: 1.25;
                font-weight: normal;
                color: #666;
                &:hover {
                    color: #ff3333;
                }
                transition: 0.2s all ease-in-out;
            }

            p {
                font-size: 0.875rem;
                line-height: 1.25;
                margin-top: 0.5rem;
                font-weight: normal;
                color: #666;
                &:hover {
                    color: #ff3333;
                }
                transition: 0.2s all ease-in-out;
            }
        }

        &__left {
            &__one {
                padding: 0.75rem;
                display: flex;
                gap: 0.25rem;
                background-color: #dbf5db;
                border-radius: 6px;
                border: none;
                &__img {
                    display: flex;
                    align-items: center;

                    img {
                        width: 40px;
                    }
                }

                &__text {
                    h3 {
                        font-size: 0.875rem;
                        line-height: 1.25;
                        font-weight: bold;
                        color: #3caa3c;
                    }

                    p {
                        font-size: 0.875rem;
                    }
                }
            }

            &__two {
                padding: 20px;
                display: flex;
                flex-direction: column;
                margin-top: 1.5rem;
                border: 1px solid #eee;
                border-radius: 6px;
                box-shadow: 0 2px 2px #e7e7e7;

                h2 {
                    font-size: 1.5rem;
                    line-height: 2;
                    font-weight: bold;
                }

                &__button1 {
                    margin-top: 1rem;
                    background-color: #ff4d4d;
                    color: #fff;
                    padding: 0.5rem 1rem;
                    border-radius: 0.375rem;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #ff3333;
                    }
                }

                &__button2 {
                    margin-top: 1rem;
                    padding: 0.5rem 1rem;
                    border-radius: 0.375rem;
                    border: 2px solid #212121;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #f0f0f0;
                    }
                }
            }

            &__thee {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                padding: 0.125rem 0.25rem;

                &__img {
                    width: 30px;
                    display: flex;
                    align-items: center;
                }

                &__text {
                    p {
                        font-size: 0.625rem;
                        line-height: 1;
                        font-weight: normal;
                        color: #666;
                    }
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);

    &__wrapper {
        padding: 1.5rem 2.5rem;
        background-color: #fff;
        width: 40%;
        border-radius: 0.625rem;
        box-shadow: 0 2px 2px rgba(231, 231, 231, 0.7);
        height: 400px;

        &__button {
            margin-top: 1rem;
            background-color: #ff4d4d;
            color: #fff;
            padding: 0.5rem 1rem;
            border-radius: 0.375rem;
            transition: background-color 0.3s;

            &:hover {
                background-color: #ff3333;
            }
        }

        &__input {
            display: flex;
            flex-direction: column;
            margin-top: 1.25rem;

            input {
                margin-top: 0.625rem;
                height: 2.5rem;
            }
        }
    }
}

.two{ 
    margin-top: 20px;
    &__wrapper{
        h3{
            font-size: 20px;
            font-weight: 700;
        }
        p{
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
        }
    }
    &__text{
        margin-top: 70px;
        width: 60%;
        span{
            font-size: 14px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 850px) {
    .main {
        h1 {
            font-size: 18px;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            &__right {
                &__image {
                    width: 300px;
                }
            }

            &__center {
                span {
                    font-weight: 500;
                    font-size: 13px;
                }
            }

            &__left {
                width: 90%;
            }
        }
    }
}
