.categories {
    padding: 10px;
    padding-top: 10px;
    position: relative;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    min-width: 350px;
    border: none;
    max-height: 80vh;
    height: 100%;
    overflow-y: scroll;
   
  
    .subcategories {
      position: absolute;
      padding: 20px;
      left: 100%;
      top: -1px;
      z-index: 100;
      background-color: white;
      width: 60vw;
      height: 650px;
      border: 1px solid #000;
    }
  }
  
  .linkCategory {
    display: flex;
    border: 17px;
    padding: 7px;
    border-radius: 8px;
    color: #777;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
  
        img{
            width: 50px;
            height: 50px;
        }
    &:hover {
      border: 17px;
      padding: 7px;
      border-radius: 8px;
      background-color: #f0f0f0;
      color: #000;
    }
  }
  
  @media screen and (max-width: 800px){
    .categories {
      
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }    
    
  }
  @media screen and (max-width: 500px){
    .categories {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .linkCategory {
            
            width: 250px;
            display: flex;
            border: 17px;
            padding: 7px;
            border-radius: 8px;
            color: #777;
            gap: 10px;
            font-size: 14px;
            font-weight: 500;
          
                img{
                    width: 40px;
                    height: 40px;
                }
           
          }
    }    
    
  }