@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --swiper-navigation-size: 1px;
} */
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

main {
    padding: 10px 40px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
}

/* SWIPER */
.mySwiper {
    margin: 0 auto;
    max-width: 100%;
    height: 120px;
    width: 100%;
    border-radius: 15px;
}

.my-slider {
    width: 90%;
    height: 400px;
    /* width: 100%; */
    border-radius: 15px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 40px;
    border: 1px solid;
    font-size: 15px !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 40px;
    border: 1px solid;
    font-size: 15px !important;
    opacity: 1;
    transition: all 0.3s linear;
}

/* SWIPER */
