.main_wrapper {
    display: flex;
    // justify-content: space-around;
    justify-content: space-between;
    gap: 30px;

    &__left {
    }
    &__right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        .popular {
            margin-top: 0px;
            display: flex;
            gap: 5px;
            width: 100%;
            max-height: 40%;
            div {
                // border: 1px solid #000;
                height: 130px;
                border-radius: 8px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.podborka {
    margin-top: 160px;
}
@media screen and (max-width: 850px) {
    .main_wrapper {
        &__left {
        }
        &__right {
            .popular {
                margin-top: 130px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .main_wrapper {
        display: flex;
        // justify-content: space-around;
        justify-content: space-between;

        &__left {
            border: 1px solid #000;
            display: none;
        }
        &__right {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            .popular {
                margin-top: 30px;
                display: flex;
                gap: 5px;
                width: 100%;
                max-height: 40%;
                div {
                    // border: 1px solid #000;
                    height: 130px;
                    border-radius: 8px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
